@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.product h2{
    font-family: 'Ubuntu', sans-serif;
}
.sort-product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}